# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project executable
Casper

# Gedit family trash
*~

＃ Mac OSX trash
.DS_Store

# Qt trash
moc_*

# Autotools trash
Makefile
Makefile.in
config.log
config.status
autom4te.cache/
.deps/
aclocal.m4
config.guess
config.sub
depcomp
install-sh
missing
